<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring - Exemplo 05</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Exemplo 05</h1>
        <p>Nome: <span th:text="${nome}"></span></p>
        <p>Data Nascimento: <span th:text="${dataNascimento}"></span></p>
        <p>E-mail: <span th:text="${email}"></span></p>
        <p>Senha: <span th:text="${senha}"></span></p>
    </body>
</html>