<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring - Exemplo 06</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Exemplo 06</h1>
        <p>Nome: <span th:text="${dadosPessoais.nome}"></span></p>
        <p>Data Nascimento: <span th:text="${dadosPessoais.dataNascimento}"></span></p>
        <p>E-mail: <span th:text="${dadosPessoais.email}"></span></p>
        <p>Senha: <span th:text="${dadosPessoais.senha}"></span></p>
    </body>
</html>